.centrage{
    border: 10px solid black;
    margin-bottom:50px;
    text-align: center;
    font-size:50px;
}
#texte_avoine{
    display:block;
    background-color:blueviolet;
    color:white; 
    border: 5px solid blueviolet;
    margin-left:200px;
    margin-right:200px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 450px;
}